.about-container{
    min-height:  calc(100vh - (50px + 46px + 140px + 36px)); 
    padding: 10px;
    display: flex;
}

.about-container .container{
    margin: auto auto;
}

.about-card{
    margin: auto auto;
    padding: 10px;
    background-color: rgba(0,0,0,.2);
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,.7);
    text-align: center;
}

.card-image-ardato{
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQEWa4QucJvHZQ/profile-displayphoto-shrink_200_200/0?e=1589414400&v=beta&t=nL3ullCIXuEgz50CdFFqrb4glllr25WYbBSx9mB7w6Q);
    background-size: cover;
    background-position: center;
    width: 152px;
    height: 152px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #ffc107;
}

.card-image-avshalom{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQphxhxhLqmfFlKHUKDSo7hxMS9VmwWU86WaJpoyYk4RZlUaxWt);
    background-size: cover;
    background-position: center;
    width: 152px;
    height: 152px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #ffc107;
}

.about-card h1{
    font-size: 32px;
    font-family: 'Lobster Two';
    color: rgb(255, 192, 5);
}

.about-card h2{
    font-size: 18px;
    color: rgba(255, 192, 5, 0.5);
}

.card-details{
    margin-top: 5px;
}

.social-links{
    font-size: 30px
}

.social-links i {
    margin: 15px;
    color: rgba(255, 192, 5,.6);
    transition: all 0.3s;
}

.social-links i:hover {
    margin: 15px;
    color: rgba(255, 192, 5,1);
    animation: rotation 1s;
}

@media only screen and (max-width: 576px) {
    .about-card{
        width: 95%;
    }
}

@keyframes rotation {
    from {transform :rotate(0);}
    to {transform :rotate(360deg);}
}