.BookCard{
    
    width:100%;
    height:80%;
    box-shadow: 1px 1px 5px;
    transition: all .5s;
}

.BookCard:hover{
    box-shadow: 5px 5px 5px;
    cursor: pointer;
    transform: scale(1.05);
}

.imgCard{

    width:100%;
    height:40%;
}

.description{
   
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */

}