
.Cart{
    min-height:  calc(100vh - 258px); 
    background-color: white;
    background-color: #f0f0f0;
   

}

.Cart-container{
    background: #ffffff;
    border: 2px solid lightgray;
    min-height: 600px;
   
}

.Cart-checkOut{
    background-color: #ffffff;
    padding:10px;
    /* padding-bottom: 10px; */
    width: 40%;
    height: 20%;
    margin-right: 15px;
}