
.Cart{
    min-height:  calc(100vh - 258px); 
    background-color: white;
    background-color: #f0f0f0;
     overflow-x: hidden; 
   

}

.Cart-container{
    background: #ffffff;
    border: 2px solid lightgray;
    min-height: 600px;
   
}

.Cart-checkOut{
    background-color: #ffffff;
    padding:10px;
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid red;
    
}

.col-md-4{
    /* background-color: red; */
    /* border: 1px solid red; */
}

.row{
    

}