.Home{

    background-image: url("../IMG/home-background.jpg");
    background-size: cover;
    display: flex;
    min-height: 70vh;
}
  
.Home h1{

    color: white;
    margin: auto auto;
    font-size: 5vw;
    text-shadow: 8px 8px 15px black;
}