.MyNavbar{
    padding: 10px;
}


.MyNavbar-form{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

.MyNavbar-search-input{
    display: inline-block;
    width: 90%
}

.MyNavbar-search-btn{
    width: 3%;
    padding: 9px;
    background-color: orange;
    cursor: pointer;
}

#dropdown-basic-button{
    width: 188px; 
    padding: 4px;
    margin: 0px 4px;
}
.dropdown-menu{
    width: 188px; 
    padding: 4px;
    margin: 0px 4px;

}

.fa-search{
    padding-top: 10px;
    height: 1.5%;
    margin-top: 2px;
}