.Search{
    background-color: #f0f0f0;
    min-height:  calc(100vh - 258px);
}


.Search-spinner{ 
    position: fixed;
    margin: 10% auto;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.Search-toast-container{
    position: fixed;
    top: 5%;
    z-index: 1;
    width: 100%;  
}

.Search-toast{
    margin: 0 auto;
    border: 2px outset #ff8d1e;
}

